body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Background.jpg);
  background-position: center;
  background-size: cover;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mostrar-button,
.ocultar-button {
  margin-right: 10px;
}

h1 {
  color: whitesmoke;
}

p {
  color: #cfcccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: none;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f9f9f9;
}

a {
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}