  html {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  
  
  .error {
    color: #fe5f55;
    margin-bottom: 10px;
  }

.invalid {
  border: 2px solid #fe5f55;
}

.valid {
  border: 2px solid #50ce67;
}